* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    display: flex;
}

.btn_style {
    font-size: 20px;
    color: #fff;
    margin: 20px 330px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
}

.min_btn_style {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #FF5959;
    padding: 6px 10px;
    border-radius: 5px;
    bottom: 0;
}

.section_header {
    width: 826px;
    margin: 0 auto;
    text-align: center;
}

.banner {
    background-image: url(images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 669px;
    margin-bottom: 100px;
}

.banner_content {
    color: #fff;
    width: 826px;
    height: 320px;
    margin: 0 auto;
    padding-top: 220px;
}

.banner_content h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.banner_content p {
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.donate {
    margin-bottom: 100px;
}

.donate_amount h1 {
    font-size: 30px;
}

.donate_amount ul {
    list-style: none;
    padding: 0;
}

.donate_amount ul li {
    float: left;
    margin-left: 16px;
    margin-top: 100px;
}

.donate_amount ul li a {
    padding: 30px 30px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}

.donate_amount ul li a:hover {
    border: 2px solid #FF5959;
    color: #FF5959;
}

.donate_amount input {
    margin-top: 50px;
    width: 100%;
    padding: 15px 0px;
    border: none;
    text-align: center;
    box-shadow: 10px 10px 20px grey;
    margin-bottom: 60px;
}

.donate_amount input:focus {
    outline: none;

}

.donate_plan {
    margin-bottom: 100px;
}

.plan_content h1 {
    font-size: 30px;
}

.mother_plan_partition {
    padding: 0 7%;
}

.plan_partition_child {
    width: 33%;
    padding: 45px 20px 10px 20px;
    text-align: justify;
    background-color: blanchedalmond;
    margin-left: 15px;
    margin-top: 30px;
    text-decoration: none;

}

.plan_partition_child:hover {
    background-color: #f4f4f4;
    box-shadow: 10px 20px 30px grey;
}

.plan_partition_child h2 {
    padding-bottom: 20px;
}

.plan_partition_child h2 a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    padding-bottom: 15px;
}

.update_section {
    padding-bottom: 100px;
}

.mail {
    background-color: blanchedalmond;
    min-height: 150px;
    margin-top: 15px;
}

.mail_mother {
    padding: 50px 180px;
}

.mail_section input {
    width: 250px;
    padding: 14px 10px;
    border: none;
    background-color: rgb(193 183 183 / 80%);
    border-radius: 5px 0px 0px 5px;
}

.mail_section input:focus {
    outline: none;
}

.mail_btn {
    margin-top: 9px;
}

.mail_btn a {
    background-color: #FF5959;
    padding: 10px 25px;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 0px 5px 5px 0px;
}

.blog_mother {
    margin-left: 7%;
    margin-right: 7%;
}

.flood_blog {
    padding-bottom: 100px;
}

.flood_blog h2 {
    font-size: 18px;
}

.flood_blog h1 {
    font-size: 30px;
    text-align: center;
}

.blog {
    margin-top: 30px;
    width: 50%;
    padding: 30px;
}

.blog h2 {
    margin-bottom: 20px;
}

.blog p {
    margin-bottom: 20px;
}

.blog a {
    margin-left: 0px;

}

.min-blog {
    width: 50%;
    padding: 10px;
}

.min-blog h2 a {
    text-decoration: none;
    color: #000000;
}

.min-blog h2 a:hover {
    color: #FF5959;
}

.min-blog:hover {
    box-shadow: 10px 20px 30px gray;
}

.min-blog img {
    width: 100%;
}

.footer {
    min-height: 200px;
    background-color: #2e2a2a;
    color: #fff;

}

.footer_content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    padding-top: 30px;
}

.footer_content h1 {
    font-family: 'Lobster', cursive;
    color: #FF5959;
}